### OS Specific Files ###
.DS_Store
.AppleDouble
.LSOverride
Icon?
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*~
*.swp

.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
bin/
out/
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Project Specific / Sensitive Data ###
/src/db.properties
*.log